html {
  background: rgb(17, 143, 154);
}

#logo {
  width: 240px;
  margin-top: -1%;
  margin-left: -1%;
}

#login:hover {
  transform: scale(1.1);
}

#login {
  margin-bottom: 0;
  margin-left: 1600px;
  margin-right: 20px;
  margin-top: -100px;
  color: aliceblue;
  font-weight: bold;
  transition: 0.3s;
  padding: 5px;
  font-size: 1rem;
  display: flex;
}

#memes {
  margin-left: 226px;
  margin-right: 1px;
}

a.remove {
  text-decoration: none;
}

#barra > * {
  padding: 5px;
  font-size: 25px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  transition: 0.3s;
}

#barra > *:hover {
  transform: scale(1.1);
}

#barra {
  background-color: black;
  height: 70px;
  margin-top: -100px;
  margin-left: -8px;
  margin-right: -8px;
  display: flex;
  gap: 1rem;
  flex-direction: row;
}

#titulo1 {
  height: 217px;
  text-align: center;
  justify-content: center;
  display: flex;
  font-size: 4rem;
  margin-top: -220px;
  margin-bottom: 10px;
  background-color: black;
  color: rgb(178, 23, 139);
  font-style: italic;
  margin-right: -8px;
}

#psearch {
  flood-color: black;
  width: 600px;
  height: 70px;
  margin-top: -70px;
  margin-left: 800px;
  margin-bottom: 10px;
  margin-right: 0;
  border-radius: 10px;
  display: flex;
}

#algmemes {
  text-align: center;
  color: rgb(49, 233, 32);
  font-size: 4rem;
}

#accesorios {
  text-align: center;
  color: rgb(49, 233, 32);
  font-size: 4rem;
}

#pie {
  text-align: center;
  font-size: 2rem;
  background-color: black;
}

#redes {
  font-size: 2rem;
  color: rgb(17, 70, 168);
  text-align: center;
}

#mediosdepago {
  font-size: 2rem;
  color: rgb(17, 70, 168);
  align-items: center;
  text-align: center;
}

#titulomemes {
  text-align: center;
}

#h3memes {
  text-align: center;
}

#titulopagos {
  text-align: center;
  font-size: 60px;
}

#h3pagos {
  text-align: center;
  background-color: rgb(57, 229, 9);
}

#titulocontact {
  text-align: center;
}

#h3contact {
  text-align: center;
}

#tituloprd {
  text-align: center;
}

#contactmemes {
  text-align: center;
  font-size: 2rem;
}

#top {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20vh;
  gap: 1rem;
}

#top > * {
  max-width: 400px;
  font-size: 20px;
  flex: 1;
  padding: 10px;
  text-align: center;
}
