body{
  background: rgb(17, 143, 154);
}

/* Estilos para pantallas grandes - Esto no se esta usando aun */
.screen  {
  max-width: 1200px;
  margin: 0 auto;
}

/* Estilos para pantallas medianas - Esto no se esta usando aun */
@media screen and (max-width: 992px) {
  .screen {
    max-width: 800px;
    padding: 20px;
  }
}

/* Estilos para pantallas pequeñas - Esto no se esta usando aun */
@media screen and (max-width: 576px) {
  .screen {
    max-width: 400px;
    padding: 10px;
  }
}


#logo {
  width: 12%;
  margin-top: -1%;
  margin-left: -1%;
}

.div-logo{
  background-color: black;
}

#login:hover {
  transform: scale(1.1);
}

#login {
  margin-bottom: 0;
  margin-left: 80%;
  margin-top: -3%;
  color: aliceblue;
  font-weight: bold;
  transition: 0.3s;
  padding: 5px;
  font-size: 1rem;
  display: flex;
}

#memes {
  margin-left: 1%;
  margin-right: 0;
}

a.remove {
  text-decoration: none;
}

#barra .links-titulos{
  padding: 0.6rem;
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  transition: 0.3s;
}

.barra-container{
  margin-top: -9%;

}

#barra > *:hover {
  transform: scale(1.1);
}

#barra {
  background-color: black;
  height: 30%;
  margin-top: 11%;
  margin-left: 11%;
  margin-right: 0;
  display: flex;
  gap: 1rem;
  flex-direction: row;
}

#titulo1 {
  text-align: center;
  justify-content: center;
  display: flex;
  font-size: 4rem;
  margin-top: -9.5%;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  background-color: black;
  color: rgb(178, 23, 139);
  font-style: italic;
}

#psearch {
  flood-color: black;
  width: 35%;
  height: 4rem;
  border-radius: 10px;
  display: flex;
  justify-content: center;
}

#algmemes {
  text-align: center;
  color: rgb(49, 233, 32);
  font-size: 4rem;
}

#accesorios {
  text-align: center;
  color: rgb(49, 233, 32);
  font-size: 4rem;
}

#pie {
  text-align: center;
  font-size: 2rem;
  background-color: black;
  padding: 1%;
}

#redes {
  font-size: 2rem;
  color: rgb(17, 70, 168);
  text-align: center;
}

#mediosdepago {
  font-size: 2rem;
  color: rgb(17, 70, 168);
  align-items: center;
  text-align: center;
}

#titulomemes {
  text-align: center;
  color: rgb(178, 23, 139);
  font-size: 4rem;
  margin-top: -5%;
}

#h3memes {
  text-align: center;
}

#titulopagos {
  text-align: center;
  color: rgb(178, 23, 139);
  font-size: 4rem;
  margin-top: -5%;
}

#h3pagos {
  text-align: center;
  background-color: rgb(57, 229, 9);
}

#titulocontact {
  text-align: center;
  color: rgb(178, 23, 139);
  font-size: 4rem;
  margin-top: -5%;
}

#h3contact {
  text-align: center;
}

#tituloprd {
  text-align: center;
  color: rgb(178, 23, 139);
  font-size: 4rem;
  margin-top: -5%;
}

#contactmemes {
  text-align: center;
  font-size: 2rem;
}

#top {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20vh;
  gap: 1rem;
  margin-bottom: 2%;
}

#top > * {
  font-size: 1rem;
  flex: 1;
  padding: 10px;
  text-align: center;
  align-items: center;
}
