html {
  background: rgb(17, 143, 154);
}

#logo {
  width: 220px;
  margin-top: -1%;
  margin-left: -1%;
}

#memes {
  margin-left: 206px;
  margin-right: 1px;
  background-color: rgb(149, 8, 107);
}

#nosotros {
  background-color: blueviolet;
}

#productos {
  background-color: rgb(149, 8, 107);
}

#barra > * {
  font-size: 25px;
  border-radius: 10px;
  display: flex;
  font-weight: bold;
  transition: 0.3s;
}

#barra > *:hover {
  transform: scale(1.1);
}

#barra {
  background-color: black;
  height: 73px;
  margin-top: -5px;
  margin-left: -8px;
  margin-right: -8px;
  display: flex;
  gap: 1rem;
  flex-direction: row;
}

#titulo1 {
  text-align: center;
  font-size: 4rem;
  margin-top: -210px;
  margin-bottom: 10px;
  background-color: black;
  color: rgb(178, 23, 139);
  font-style: italic;
  margin-right: -8px;
}

#psearch {
  flood-color: black;
  width: 700px;
  height: 40px;
  margin-left: 30%;
  margin-bottom: 10px;
  border-top: 5px solid rgb(236, 240, 24);
  border-bottom: 5px solid rgb(240, 24, 24);
  border-left: 5px solid rgb(40, 19, 236);
  border-right: 5px solid rgb(40, 19, 236);
  border-radius: 10px;
  display: flex;
}

#algmemes {
  text-align: center;
  color: rgb(49, 233, 32);
  font-size: 4rem;
}

#accesorios {
  text-align: center;
  color: rgb(49, 233, 32);
  font-size: 4rem;
}

#pie {
  text-align: center;
  font-size: 2rem;
  margin-top: 200px;
}

#redes {
  font-size: 2rem;
  color: rgb(17, 70, 168);
  text-align: center;
}

#mediosdepago {
  font-size: 2rem;
  color: rgb(17, 70, 168);
  text-align: center;
}

#titulomemes {
  text-align: center;
}

#h3memes {
  text-align: center;
}

#titulopagos {
  text-align: center;
}

#h3pagos {
  text-align: center;
}

#titulocontact {
  text-align: center;
}

#h3contact {
  text-align: center;
}

#tituloprd {
  text-align: center;
}

#contactmemes {
  text-align: center;
  font-size: 2rem;
}

#top {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20vh;
  gap: 1rem;
}

#top > * {
  font-size: 20px;
  flex: 1;
  padding: 10px;
  text-align: center;
}
